---
layout: default
title: Valérie Gehlé | Fullstack developer
permalink: "/"
---

<div class="content-wrapper">
  <div class="profile-section">
    <div class="me-wrapper">
      <h2 id="me" class="jump">About me</h2>
      <p class="about-me">The first time I have coded was in 2006 on Matlab, as I was in preparatory classes for engineer schools. Since then, programming has kept waving at me (statistics on R in engineer school, projects on VBA an SQL during internships). Today, I am a proud junior dev who just finished Le Wagon intensive FullStack bootcamp! I am driven by great team work and the satisfaction you get after having spent energy on a clean and DRY code that works!</p>
    </div>
  </div>
  <div class="profile-section">
    {% include projects.html %}
  </div>
  <div class="profile-section">
    {% include education.html %}
  </div>
  <div class="profile-section">
    {% include skills.html %}
  </div>
</div>
