<h2 id="job" class="jump">Work experience</h2>
<div class="job-wrapper">
  <div class="job-content">
  <!-- card -->
    <div class="job-card">
      <div class="job-icon"><i class="fas fa-code material-icons md-36"></i></div>
      <p class="job-title">What</p>
      <p class="job-text">Projects that make you say "waw!" at the end!</p>
    </div>
  <!-- end card -->
  <!-- card -->
    <div class="job-card">
      <div class="job-icon"><i class="fas fa-users-cog material-icons md-36"></i></div>
      <p class="job-title">Who</p>
      <p class="job-text">Empathic people with who I can share trust, enthusiasm and willingness to be great as a group.</p>
    </div>
    <!-- end card -->
    <!-- card -->
    <div class="job-card">
      <div class="job-icon"><i class="fas fa-map-marker-alt material-icons md-36"></i></div>
      <p class="job-title">Where</p>
      <p class="job-text">Paris, with the possibility of occasional or part-time remote work.</p>
    </div>
  <!-- end card -->
  </div>
</div>

