<h2 id="projects" class="jump">Projects</h2>
<div class="cards">
  {% for item in site.data.projects %}
    <div class="card-container">
      <div class="row scaler" style="animation-delay:{{item.delay}}">
        <div class="col-md-5 col-lg-4">
          <div class="card-image">
            <img class="project-screenshot" src="{{item.img}}" alt="">
          </div>
        </div>
        <div class="col-md-7 col-lg-8">
          <div class="card-body">
            <h3>{{item.name}}</h3>
            <p class="text">{{item.description}}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
