<h2>Projects</h2>
<div class="cards">

  {% for item in site.data.projects %}
  
    <div class="row scaler w-100" style="animation-delay:{{item.delay}}">
      <div class="col-md-5 col-lg-4">
        <div class="card-image">
          <img class="project-screenshot" src="{{item.img}}" alt="">
        </div>
      </div>
      <div class="col-md-7 col-lg-8">
        <div class="card-body">
          <h3>{{item.name}}</h3>
          <p class="card-text">{{item.description}}</p>
          <p class="card-tech">Tech: {{item.tech}}</p>
        </div>
      </div>
    </div>

  {% endfor %}
</div>
