<h2>Skills</h2>
<!-- <div class="skills-container">
  {% for item in site.data.skills %}
  <div class="skill-content">
    <img src="{{item.img}}" alt="" class="skill-img">
    <p class="skill-text">{{item.name}}</p>
  </div>
  {% endfor %}
</div> -->
<div class="row row-cols-1 row-cols-md-3" style="background-color: transparent !important">
  <div class="col mb-4">
    <div class="card text-white mb-3 h-100" style="max-width: 18rem;">
      <div class="card-header">BACK END</div>
      <div class="card-body">
          <p><img class="icon" src="assets/images/icon_ruby.png"> Ruby</p>
          <p><img class="icon" src="assets/images/icon_rails.png"> Rails</p>
          <p><img class="icon" src="assets/images/icon_php.png"> PHP7</p>
          <p><img class="icon" src="assets/images/icon_symfony.png"> Symfony4</p>
          <p><img class="icon" src="assets/images/icon_c.png"> C</p>
          <p><img class="icon" src="assets/images/icon_python.png"> Pyhton</p>
          <p><img class="icon" src="assets/images/icon_flask.png"> Flask</p>
          <p><img class="icon" src="assets/images/icon_express.png"> Express</p>
          <p><img class="icon" src="assets/images/icon_node.png"> NodeJS</p>
          <p><img class="icon" src="assets/images/icon_mongoose.png"> Mongoose</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-white mb-3 h-100" style="max-width: 18rem;">
      <div class="card-header">DATABASE</div>
      <div class="card-body">
        <p><img class="icon" src="assets/images/icon_postgresql.png"> PostgreSQL</p>
        <p><img class="icon" src="assets/images/icon_mysql.png"> MySQL/MariaDB</p>
        <p><img class="icon" src="assets/images/icon_mongodb.png"> mongoDB</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-white mb-3 h-100" style="max-width: 18rem;">
      <div class="card-header">FRONT END</div>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-white mb-3 h-100" style="max-width: 18rem;">
      <div class="card-header">DEVOPS</div>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card text-white mb-3 h-100" style="max-width: 18rem;">
      <div class="card-header">MISCELLANEOUS</div>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>