.banner_section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  background-image: linear-gradient(to bottom, rgba(19,20,21,.5), rgba(255,255,255, .5)), url('../images/banner.jpg');
  background-size: cover;
  background-position: center center;
  width: 100%;
  z-index: -1;
  text-transform: uppercase;
  letter-spacing: 5pt;
  &_subtitle{
    font-weight: 600;
    font-size: 1.5rem;
  }
  .banner_title{
    font-size: 6rem;
    padding: 2rem;
}
}
