body {
  background-color: #131415 !important;
  font-family: 'Josefin Sans', sans-serif !important;
}

nav {
  margin-top: 30px;
  position:sticky;
  top: 0px;
  background-color: transparent;
  transition: 0.5s background-color ease;
  z-index: 1000;
}

.nav-black {
  background-color: #0B0C0C;
}

.container {
  max-width: 1140px;
  margin: auto;
  text-align: center;
}

.title:hover, .main-title:hover {
  text-decoration: none;
}

.main-title, .title {
  font-family: 'Poiret One', cursive;
  text-decoration: none;
}

.main-title {
  font-size: 36px;
  font-weight: bold;
}

.title {
  margin: 0;
  text-align: center;
  // margin-top: 30px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}


// .content {
//   // min-height: calc(100vh - 70px);
// }

.wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 60px;
  align-items: end;
}

.home-wrapper {
  margin-top: calc(50vh - 130px);
}

.hide {
  display: none;
}

.me-wrapper {
  color: white !important;
  padding-bottom: 70px;
}

.me-wrapper h2 {
  text-transform: uppercase;
}

.me-wrapper p {
  font-size: 18px;
}

.profile-section {
  margin-top: 50px;
}

li {
  font-size: 24px;
  display: inline;
  list-style: none;
  margin: 10px;
  padding: 0;
}

ul {
  padding: 0;
  margin-bottom: 0 !important;
  display: flex;
  align-items: center;
}
