body {
  background-color: #222326;
  color: #19F6E8;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #19F6E8;
}

.container {
  max-width: 1140px;
  margin: auto;
  text-align: center;
}

.content {
  min-height: calc(100vh - 70px);
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.home-wrapper {
  margin-top: calc(50vh - 70px);
}

.title {
  font-family: 'Megrim', cursive;
  font-size: 36px;
}

.current {
  text-decoration: underline;
}

.footer {
  height: 70px;
}

.hide {
  display: none;
}

