nav {
  position:sticky !important;
  top: 0px;
  background-color: #0B0C0C;
  z-index: 1000;
}

.nav-item {
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 20px;
  align-items: end;
}
