---
layout: default
---

{% for item in site.data.projects %}
  <div class="card-container">
    <div class="row card-info scaler" style="animation-delay:{{item.delay}}">
      <div class="col-sm-12">
        <p>{{item.name}}</p>
      </div>
      <div class="col-sm-12 col-lg-5">
        <img class="card-image" src="{{item.img}}" alt="">
      </div>
      <div class="col-sm-12 col-lg-7">
        <p class="text">{{item.description}}</p>
        <a href="{{item.link}}" target="_blank">See demo</a>
      </div>
    </div>
  </div>
{% endfor %}
