---
layout: default
---
<div class="card-wrapper">
  <div class="cols">
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="card-container">
        <div class="front" style="background-image: url(assets/images/derby-match-home.png)">
          <div class="inner">
            <p>DERBY MATCH</p>
            <span>March 2019</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Derby match is a website developed in two weeks during Le wagon bootcamp. It helps roller derby teams to find other teams to play against and to plan games.</p>
            <a href="https://youtu.be/HZ87deV1-pY?t=4431" target="_blank">See demo</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="card-container">
        <div class="front" style="background-image: url(assets/images/algue.jpg)">
          <div class="inner">
            <p>Yoga de la Camouflette</p>
            <span>In progress</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt temporibus suscipit, nihil hic doloribus ut molestias nulla, molestiae quam perspiciatis</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
