---
layout: default
---
<div class="card-container">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <p>DERBY MATCH</p>
      <img class="card-image" src="assets/images/derby-match-home.png" alt="Derby match screenshot">
    </div>
    <div class="col-sm-12 col-md-8">
      <p>Derby match is a website developed in two weeks during Le wagon bootcamp. It helps roller derby teams to find other teams to play against and to plan games.</p>
      <a href="https://youtu.be/HZ87deV1-pY?t=4431" target="_blank">See demo</a>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 col-md-4">
      <p>YOGA DE LA CAMOUFLETTE</p>
      <img class="card-image" src="assets/images/algue.jpg" alt="Derby match screenshot">
    </div>
    <div class="col-sm-12 col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate odio ipsum necessitatibus doloremque facere tempore voluptatem, reprehenderit at obcaecati eius quibusdam dolorem corrupti iure ut accusamus officia architecto temporibus nesciunt.</p>
      <a href="#" target="_blank">See demo</a>
    </div>
  </div>
</div>
